<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Analytics</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body class="container mt-5">

<h2 class="mb-4">Analytics Dashboard</h2>

<div class="card p-4 shadow-sm">
    <h5>Export Training Data</h5>
    <p>Download fraud training dataset.</p>

    <a th:href="@{/api/analytics/export}" class="btn btn-success">
        Download CSV
    </a>
</div>

<br>

<a th:href="@{/}" class="btn btn-secondary">
    Back to Dashboard
</a>

</body>
</html>